<app-navbar (categorySelected)="onCategorySelected($event)"></app-navbar>

<div class="banner_src">
  <div class="justify-content-center text-light center">
    <h1>Welcome to Recipe-Manager</h1>
    <p>Explore the recipes</p>
    <form class="navbar-form navbar-left" (ngSubmit)="onSearch()">
      <!-- <input type="text" class="form-control col-lg-8" placeholder="Search" /> -->
      <input type="text" class="form-control col-lg-8" placeholder="Search" [(ngModel)]="searchQuery" name="searchQuery" />

      <button type="submit" class="btn mt-3 btn-primary">Search Recipe</button>
    </form>
  </div>
</div>

<div class="explore-section center-explore">
  <br />
  <div class="d-flex align-items-center">
    <hr class="flex-grow-1" />
    <span class="px-2"><h3>{{ exploreRecipesHeading }}</h3></span>
    <hr class="flex-grow-1" />
  </div>

  <!-- Pass selectedCategory to RecipeCardComponent -->
  <app-recipe-card [selectedCategory]="selectedCategory" [isProfileView]="false"></app-recipe-card>
</div>
