<app-navbar></app-navbar>

<div class="banner_src">
  <div class="justify-content-center text-light center">
    <h1>Welcome to Recipe-Manager</h1>
    <p>Explore the recipes</p>
    <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search" />
      <button type="button" class="btn mt-3 btn-primary">Search Recipe</button>
    </form>
  </div>
</div>

<div class="explore-section center-explore">
  <br />
  <div class="d-flex align-items-center">
    <hr class="flex-grow-1" />
    <span class="px-2"><h3>Explore Recipes</h3></span>
    <hr class="flex-grow-1" />
  </div>

<!-- recipe-card -->

<app-recipe-card></app-recipe-card>