<!-- Recipe Cards -->
<div class="mt-5">
    <div class="row">
      <div *ngFor="let recipe of recipes" class="col-md-4 mb-3">
        <div class="card recipe-card">
          <img class="card-img-top recipe-image" [src]="recipe.imageUrl" alt="Recipe Photo" />
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">Average Rating: {{ recipe.rating }} / 5</p>
            <button (click)="viewRecipe(recipe)" class="btn btn-primary mt-2">View</button>
          </div>
        </div>
      </div>
    </div>
</div>

